<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicau.springbootgraduationproject.facade.mapper.CountUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sicau.springbootgraduationproject.facade.entity.CountUser">
        <id column="count_id" property="countId" />
        <result column="page_view" property="pageView" />
        <result column="downloads" property="downloads" />
        <result column="the_month" property="theMonth" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        count_id, page_view, downloads, the_month
    </sql>

</mapper>
