<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicau.springbootgraduationproject.facade.mapper.CourseSessionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sicau.springbootgraduationproject.facade.entity.CourseSessions">
        <id column="session_id" property="sessionId" />
        <result column="course_id" property="courseId" />
        <result column="session_number" property="sessionNumber" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="course_name" property="courseName" />
        <result column="teacher_id" property="teacherId" />
        <result column="teacher_name" property="teacherName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        session_id, course_id, session_number, start_time, end_time, course_name,teacher_id ,teacher_name
    </sql>

</mapper>
