<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicau.springbootgraduationproject.facade.mapper.LessonPlanReviewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sicau.springbootgraduationproject.facade.entity.LessonPlanReview">
        <id column="review_id" property="reviewId" />
        <result column="lesson_plan_id" property="lessonPlanId" />
        <result column="reviewer_id" property="reviewerId" />
        <result column="comments" property="comments" />
        <result column="review_time" property="reviewTime" />
        <result column="isDelete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        review_id, lesson_plan_id, reviewer_id, comments, review_time, isDelete
    </sql>
    <select id="queryLessonReviewMapperList"
            resultType="com.sicau.springbootgraduationproject.facade.vo.ResultLessonPlanReview">
        SELECT lpr.review_id,lpr.comments as 评审内容,lpr.review_time, lpr.isDelete, lp.title as 教案名称, u.nickname as 评审人
        FROM t_lesson_plan_review lpr,t_lesson_plan lp,t_user u
        WHERE lpr.lesson_plan_id = lp.lesson_plan_id
          and lpr.review_id = u.user_id
    </select>

</mapper>
