<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicau.springbootgraduationproject.facade.mapper.LessonPlanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sicau.springbootgraduationproject.facade.entity.LessonPlan">
        <id column="lesson_plan_id" property="lessonPlanId" />
        <result column="title" property="title" />
        <result column="objectives" property="objectives" />
        <result column="steps" property="steps" />
        <result column="resources" property="resources" />
        <result column="creator_id" property="creatorId" />
        <result column="create_time" property="createTime" />
        <result column="last_update_time" property="lastUpdateTime" />
        <result column="isDelete" property="isDelete" />
        <result column="share_state" property="shareState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        lesson_plan_id, title, objectives, steps, resources, creator_id, create_time, last_update_time, isDelete, share_state
    </sql>
    <select id="getCountLessonPlan"
            resultType="com.sicau.springbootgraduationproject.facade.entity.LessonPlan">
        SELECT title,count(*) as 数量 FROM t_lesson_plan GROUP BY title
    </select>

</mapper>
